.customer-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}